# Ignore all .env files in any directory
*.env
**/*.env

# Environment variable files local overrides
.env.local
.env.*.local

# Maven build output
/target/
/logs/
*.log

# Spring Boot Devtools
restart.flag

# IDEs and editors
/.idea/
/.vscode/
/*.iml
*.sw?
*~

# OS files
.DS_Store
Thumbs.db

# Docker data volume mounts
database/data/


# Java compiled classes and packages
*.class
*.jar
*.war
*.ear

# ssh folder
ssh/

.env
