# Ignore all .env files in any directory
**/.env

# Environment variable files
.env.local
.env.*.local

# Maven build output
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/*.log

# Spring Boot Devtools
restart.flag

# IntelliJ IDEA
/.idea/
/*.iml
/*.iws
/out/

# Eclipse
/.classpath
/.project
/.settings/
/*.launch

# VS Code
/.vscode/

# macOS
.DS_Store

# Linux swap
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
**/data/*
!**/data/.gitkeep

# Logs
*.log

# Compiled Java files
*.class

# Archives and packages
*.jar
*.war
*.ear
